@page "/XORCipher"
@rendermode InteractiveServer

<PageTitle>XOR Cipher</PageTitle>


<h3>XOR Cipher</h3>

<div class="mb-3">
    <label for="Text" class="form-label">Введите текст:</label>
    <textarea type="text" class="form-control" rows="1" placeholder="Текст" @bind="inputText"></textarea>
</div>


<div class="mb-3">
    <label for="Key" class="form-label">Введите ключ:</label>
    <textarea class="form-control" rows="1" placeholder="Ключ" @bind="key"></textarea>
</div>

<div class="mb-3">
    <button type="button" class="btn btn-primary" @onclick="Encrypt">Зашифровать</button>
    <button type="button" class="btn btn-primary" @onclick="Decrypt">Расшифровать</button>
</div>


<div class="form-group mb-3">
    <label for="Result" class="form-label">Результат:</label>
    <textarea class="form-control" rows="1" readonly>@outputText> </textarea>
</div>


@code {
    private string inputText = "";
    private string key = "";
    private string outputText = "";

    private void Encrypt()
    {
        outputText = CipherApp.Ciphers.XORCipher.Encrypt(inputText, key);
    }

    private void Decrypt()
    {
        outputText = CipherApp.Ciphers.XORCipher.Decrypt(inputText, key);
    }
}
